.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: grey;
  border-radius: 5px;

  &__full {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    width: calc(100vw - 25px);
  }
}

.filter-form {
  display: flex;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 20px;
}

.filter-form input,
.filter-form label {
  cursor: pointer;
}

.period-switcher {
  margin-right: 20px;
}

// .filter-form > .custom-control {
//   margin-right: 10px;
// }

.filter button {
  margin-right: 15px;
}

.switcherForm {
  display: flex;
}

.switcherForm > .custom-control {
  margin-right: 10px;
}

.wrapper .switcherForm {
  display: flex;
  flex-direction: column;
}
