.country-list {
  max-height: 500px;
  overflow-y: auto;

  &__row {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  &__fullscreen {
    max-height: 1100px;
    overflow-y: auto;
  }
}

.country__flag {
  height: 50px;
  margin-left: 15px;
}

.wrapper {
  position: relative;
  padding: 10px;
  color: white;
  background-color: grey;
  border-radius: 5px;
}

.country {
  &_selected {
    background-color: yellow;
  }

  &__cases {
    text-align: end;
  }

  &__name {
    text-align: center;
  }
}

tr {
  cursor: pointer;
}
