.leaflet-container {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.interactive-map {
  position: relative;
  width: 900px;
  height: calc(100vh - 150px);
  background-color:  white;
}

@mixin icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  width: 3.6em;
  height: 3.6em;
  // font-size: 0.7em;
  font-weight: bold;
  // background-color: red;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);
  right: 20px;
  bottom: 10px;
}

.icon-marker-low {
  @include icon-marker;

  width: 3.6em;
  height: 3.6em;
  background-color: rgb(255, 174, 0);
}

.icon-marker-medium {
  @include icon-marker;

  width: 4.6em;
  height: 4.6em;
  background-color: rgb(255, 102, 0);
}

.icon-marker-hight {
  @include icon-marker;

  width: 5.6em;
  height: 5.6em;
  background-color: rgb(255, 30, 0);
}

.switchGroup {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-bottom: 10px;
}
// .icon-marker-tooltip {
//   cursor: pointer;
//   display: none;
//   position: absolute;
//   bottom: 100%;
//   width: 16em;
//   font-size: 1.4em;
//   padding: 1em;
//   // background-color: $blue-grey-900;
//   border-radius: 0.4em;
//   margin-bottom: 1em;
//   box-shadow: 0 3px 5px rgba(black, 0.9);

//   &:before {
//     display: block;
//     position: absolute;
//     bottom: -0.6em;
//     left: 50%;
//     content: '';
//     width: 1.4em;
//     height: 1.4em;
//     background-color: blue;
//     transform: rotate(45deg);
//     margin-left: -0.7em;
//   }

//   h2 {
//     font-size: 1.5em;
//     line-height: 1.2;
//     margin-bottom: 0.1em;
//     margin-top: 0;
//   }

//   h3 {
//     font-size: 1.2em;
//     margin: 0.1em 0;
//     font-weight: normal;
//     color: grey;
//   }

//   ul,
//   p {
//     font-weight: normal;
//   }

//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0.6em 0 0;
//   }
// }
