.leaflet-container {
  position: relative;

  z-index: 1;
  width: 100%;
  height: 100%;
}

.interactive-map {
  position: relative;
  width: 900px;
  height: calc(100vh - 150px);
  background-color: white;
}

@mixin icon-marker {
  position: relative;
  right: 20px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6em;
  height: 3.6em;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);
}

.icon-marker-low {
  @include icon-marker;

  width: 3.6em;
  height: 3.6em;
  background-color: #ffae00;
}

.icon-marker-medium {
  @include icon-marker;

  width: 4.6em;
  height: 4.6em;
  background-color: #ff6600;
}

.icon-marker-hight {
  @include icon-marker;

  width: 5.6em;
  height: 5.6em;
  background-color: #ff1e00;
}

.switchGroup {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-bottom: 10px;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  z-index: 600;
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#legend {
  z-index: 600;
  font-size: 15px;
  padding: 10px;
  line-height: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 80px;
  margin-bottom: 30px;
  width: 170px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
