.leaflet-container {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.interactive-map {
  position: relative;
  width: 900px;
  height: calc(100vh - 150px);
  background-color: white;
}

@mixin icon-marker {
  position: relative;
  right: 20px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6em;
  height: 3.6em;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);
}

.icon-marker-low {
  @include icon-marker;

  width: 3.6em;
  height: 3.6em;
  background-color: rgb(255, 174, 0);
}

.icon-marker-medium {
  @include icon-marker;

  width: 4.6em;
  height: 4.6em;
  background-color: rgb(255, 102, 0);
}

.icon-marker-hight {
  @include icon-marker;

  width: 5.6em;
  height: 5.6em;
  background-color: rgb(255, 30, 0);
}

.switchGroup {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-bottom: 10px;
}
