$basecolor: #b9f7ed;
$darkBlue: #06203a;
$lightBlue: #a7d3ff;

.table-header {
  font-size: 18px;
}

thead {
  text-transform: uppercase;
}

.table tbody td {
  border-bottom: 2px solid $lightBlue;
}

.dashboard-table .table thead th {
  padding-top: 15px;
  border-top: 2px solid $darkBlue;
  border-bottom: 2px solid $lightBlue;
}

.dashboard-table {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-right: 7px;
  margin-bottom: 20px;
  background-color: grey;
  border-radius: 5px;
}

table {
  overflow-x: auto;
  overflow-y: hidden;
}

.table-form input,
.table-form label {
  cursor: pointer;
}

.table-wrapper {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: $basecolor;
}
