$basecolor: #b9f7ed;
$darkBlue: #06203a;
$lightBlue: #a7d3ff;

html {
  box-sizing: border-box;
}

.header {
  margin-top: 20px;
  text-align: center;
}

// .main{
//   position: relative;
// }

.toggle-btn {
  background-image: url("/assets/icons/expandBtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  outline: none;
  border: 1px solid black;
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
  transition: all 0.2s;
}

.toggle-btn:hover {
  box-shadow: 0px 0px 5px #06203a;
}

.toggle-btn:focus{
  outline: none;

} 

.full-container {
  position: fixed !important;
  top: 25px;
  left: 25px;
  width: calc(100vw - 50px);
  height: calc(100vh - 150px);
}

.table-header {
  font-size: 18px;
}

thead {
  text-transform: uppercase;
}

.table tbody td {
  border-bottom: 2px solid $lightBlue;
}

.dashboard-table .table thead th {
  padding-top: 15px;
  border-top: 2px solid $darkBlue;
  border-bottom: 2px solid $lightBlue;
}

.dashboard-table {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background-color: $basecolor;
  border-radius: 5px;
}

.radio-buttons {
  margin-right: 40px;
}

.table-form {
  display: flex;
  font-size: 17px;
}

.form-check {
  margin-bottom: 10px;
}

.table-form input,
.table-form label {
  cursor: pointer;
}

.logo {
  height: 20px;
}
