.expand-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 2;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-image: url('../../assets/icons/expandBtn.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  border: 1px solid black;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s;
}

.shrink-background {
  background-image: url('../../assets/icons/closeBtn.svg');
}

.expand-btn:hover {
  box-shadow: 0 0 5px #06203a;
}

.expand-btn:focus {
  outline: none;
}

.full-container {
  position: fixed !important;
  top: 25px;
  left: 25px;
  z-index: 100;
  width: calc(100vw - 50px) !important;
  height: calc(100vh - 50px) !important;
}
